
div {
	position: relative;
}

#header {
	height: 50px;
	background-color: red;
}

#center {
	height: 825px;
	background-color: yellow;
	text-align: center;
	vertical-align: center;
}

#footer {
	height: 50px;
	background-color: green;
}

#search_bar {
	width: 425px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.button {
	-webkit-appearance: none;
}