
div {
	display: block;
	position: relative;
}

.header {
	height: 50px;
	background-color: red;
}

.google-search {
	margin-top: 145px;
}

.google-search img {
	margin-bottom: 20px;
}

center {
	display: block;
	text-align: -webkit-center;
}

/*
#center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	background-color: blue;
	text-align: center;
}
*/
.footer {
	height: 50px;
	background-color: green;
}

.search_bar {
	width: 425px;
}

.button {
	-webkit-appearance: textfield;
	cursor: default;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
}